@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.cover{
    position: fixed;
    background-position: center bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.cover-home {
    background-image: url(23.jpg);
}
h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

/*PC*/
@media (min-width: 800px){
h2 {
    font-size: 5rem;
    padding-top: 3rem;
}
}